{% extends "base.html" %}
{% block content %} 
<div class="auth-container">
    <div class="auth-card">
        <h2>Forgot Password</h2>
        <p class="sub-text">Enter your email to request reset instructions.</p>
        <form method="POST" action="/forgot-password">
        <input type="email" name="email" placeholder="Enter your email: " required>
            <button type="submit">Verify</button>
        </form>
        {% if message %}
        <p class="sub-text">{{ message }}</p>
        {% endif %}
        <div class="auth-links">
            <a href="/login">Back to Login</a>
        </div>
    </div>
</div>
{% endblock %}
